<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Song</title>
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Songs</h2></div>
  <div>
    <a th:href="@{/songs/new}">Add New Song</a>
  </div>

  <div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lyric</th>
        <th>Image</th>
        <th>Category</th>
        <th>*</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="song: ${songList}">
        <tr>
          <td>[[${song.id_song}]]</td>
          <td>[[${song.song_name}]]</td>
          <td>[[${song.lyric}]]</td>
          <td><img width="240" height="200" th:src="@{'uploads/'+${song.image}}"></td>
          <td>[[${song.id_category}]]</td>
          <td>
            <a th:href="@{'/songs/edit/' + ${song.id_song}}">Edit</a>
            <a th:href="@{'/songs/delete/' + ${song.id_song}}">Delete</a>
          </td>
        </tr>
      </th:block>

      </tbody>
    </table>

  </div>
</div>
</body>
</html>